@import "./edit-section";
@import "./draggable";

.content{
  background: #dedede;
  padding: 20px;
  //width: 100%;
	position: relative;
}

.w-6{
  width: 50%;
  border: 1px solid red;
  margin: 6px;
}

